.whatsappFloat {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.whatsappFloat:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 10px #666;
}

.icon {
    width: 35px;
    height: 35px;
    fill: white;
}

@media (max-width: 768px) {
    .whatsappFloat {
        width: 50px;
        height: 50px;
        bottom: 20px;
        right: 20px;
    }

    .icon {
        width: 28px;
        height: 28px;
    }
}